Repository bodnarkevin/turningoffon-itsec-2020: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/backend-azure-pipelines.yml, pipelines/frontend-azure-pipelines.yml, pipelines/valgrind-azure-pipelines.yml

pipelines/backend-azure-pipelines.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    jobs:
    - job: Build
      steps:
      - task: UseDotNet@2
        inputs:
          packageType: sdk
          version: 2.x
      - task: SonarCloudPrepare@1
        inputs:
          SonarCloud: sonarCloudBackend
          organization: bodnarkevin
  ...

pipelines/frontend-azure-pipelines.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    jobs:
    - job: Build
      steps:
      - task: SonarCloudPrepare@1
        inputs:
          SonarCloud: sonarCloudFrontend
          organization: bodnarkevin
          scannerMode: CLI
          configMode: manual
          cliProjectKey: caffly-frontend
  ...

pipelines/valgrind-azure-pipelines.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    jobs:
    - job: Build
      steps:
      - script: 'sudo apt-get install build-essential
  
          sudo apt-get install valgrind
  
          '
        displayName: Install dependencies
      - script: 'make
  
          '
  ...

Implement native dll.
  CaffStore.Backend/CaffStore.Backend.Parser.Native/CaffStore.Backend.Parser.Native.vcxproj
  CaffStore.Backend/CaffStore.Backend.Parser.Native/CaffStore.Backend.Parser.Native.vcxproj.filters
  CaffStore.Backend/CaffStore.Backend.Parser.Native/dllmain.cpp
  CaffStore.Backend/CaffStore.Backend.Parser.Native/framework.h
  CaffStore.Backend/CaffStore.Backend.Parser.Native/pch.cpp
  CaffStore.Backend/CaffStore.Backend.Parser.Native/pch.h
  CaffStore.Backend/CaffStore.Backend.Parser/CAFFParser.dll
  CaffStore.Backend/CaffStore.Backend.Parser/CaffParser.cs
  CaffStore.Backend/CaffStore.Backend.sln
Due: pipelines/backend-azure-pipelines.yml

Add missing files.
  CaffStore.Backend/CaffStore.Backend.Parser.Native/BytesToIntConverter.cpp
  CaffStore.Backend/CaffStore.Backend.Parser.Native/BytesToIntConverter.h
  CaffStore.Backend/CaffStore.Backend.Parser.Native/CAFFApi.h
  CaffStore.Backend/CaffStore.Backend.Parser.Native/CAFFHandler.cpp
  CaffStore.Backend/CaffStore.Backend.Parser.Native/CAFFHandler.h
  CaffStore.Backend/CaffStore.Backend.Parser.Native/CIFFHandler.cpp
  CaffStore.Backend/CaffStore.Backend.Parser.Native/CIFFHandler.h
  CaffStore.Backend/CaffStore.Backend.Parser.Native/CaffStore.Backend.Parser.Native.vcxproj
  CaffStore.Backend/CaffStore.Backend.Parser.Native/CaffStore.Backend.Parser.Native.vcxproj.filters
  CaffStore.Backend/CaffStore.Backend.Parser.Native/Logger.cpp
  CaffStore.Backend/CaffStore.Backend.Parser.Native/Logger.h
  CaffStore.Backend/CaffStore.Backend.Parser.Native/ParserExceptions.cpp
  CaffStore.Backend/CaffStore.Backend.Parser.Native/ParserExceptions.h
Due: pipelines/backend-azure-pipelines.yml

Caff list basics
  CaffStore.Frontend/angular.json
  CaffStore.Frontend/package-lock.json
  CaffStore.Frontend/package.json
  CaffStore.Frontend/src/app/app.module.ts
  CaffStore.Frontend/src/app/caff-list/caff-list.component.css
  CaffStore.Frontend/src/app/caff-list/caff-list.component.html
  CaffStore.Frontend/src/app/caff-list/caff-list.component.ts
  CaffStore.Frontend/src/app/caff-list/caff-list.module.ts
  CaffStore.Frontend/src/app/frame/frame.component.css
  CaffStore.Frontend/src/custom-theme.scss
  CaffStore.Frontend/src/index.html
  CaffStore.Frontend/src/styles.css
Due: pipelines/frontend-azure-pipelines.yml

wip
  CaffStore.Frontend/src/app/auth/auth-guard.ts
  CaffStore.Frontend/src/app/caff-details/caff-details.component.css
  CaffStore.Frontend/src/app/caff-details/caff-details.component.html
  CaffStore.Frontend/src/app/caff-details/caff-details.component.ts
  CaffStore.Frontend/src/app/caff-details/caff-details.module.ts
  CaffStore.Frontend/src/app/caff-list/caff-list.component.ts
Due: pipelines/frontend-azure-pipelines.yml

Add user deletion and admin only endpoints for caffItems and comments
  CaffStore.Backend/CaffStore.Backend.Api/CaffStore.Backend.Api.csproj
  CaffStore.Backend/CaffStore.Backend.Api/Controllers/AdminCaffItemController.cs
  CaffStore.Backend/CaffStore.Backend.Api/Controllers/AdminCommentController.cs
  CaffStore.Backend/CaffStore.Backend.Api/Controllers/AdminUserController.cs
  CaffStore.Backend/CaffStore.Backend.Api/Controllers/CaffItemController.cs
  CaffStore.Backend/CaffStore.Backend.Api/Controllers/UserController.cs
  CaffStore.Backend/CaffStore.Backend.Api/Identity/IdentityServerConfig.cs
  CaffStore.Backend/CaffStore.Backend.Api/Migrations/20201123212156_NameAllowNull.Designer.cs
  CaffStore.Backend/CaffStore.Backend.Api/Migrations/20201123212156_NameAllowNull.cs
  CaffStore.Backend/CaffStore.Backend.Bll/Services/AdminCaffItemService.cs
  CaffStore.Backend/CaffStore.Backend.Bll/Services/AdminCommentService.cs
  CaffStore.Backend/CaffStore.Backend.Bll/Services/AdminUserService.cs
  CaffStore.Backend/CaffStore.Backend.Bll/Services/CaffItemService.cs
  CaffStore.Backend/CaffStore.Backend.Bll/Services/Extensions/ServiceCollectionExtensions.cs
  CaffStore.Backend/CaffStore.Backend.Bll/Services/UserService.cs
  CaffStore.Backend/CaffStore.Backend.Data/Entities/User.cs
  CaffStore.Backend/CaffStore.Backend.Interface.Bll/Dtos/AdminUser/AdminChangePasswordDto.cs
  CaffStore.Backend/CaffStore.Backend.Interface.Bll/Dtos/CaffItem/CaffAnimationDataDto.cs
  CaffStore.Backend/CaffStore.Backend.Interface.Bll/Dtos/CaffItem/CaffDataDto.cs
  CaffStore.Backend/CaffStore.Backend.Interface.Bll/Dtos/CaffItem/CaffItemDetailsDto.cs
  CaffStore.Backend/CaffStore.Backend.Interface.Bll/Dtos/CaffItem/CaffItemDto.cs
  CaffStore.Backend/CaffStore.Backend.Interface.Bll/Dtos/CaffItem/CiffDataDto.cs
  CaffStore.Backend/CaffStore.Backend.Interface.Bll/Dtos/Error/ErrorResponse.cs
  CaffStore.Backend/CaffStore.Backend.Interface.Bll/Services/IAdminCaffItemService.cs
  CaffStore.Backend/CaffStore.Backend.Interface.Bll/Services/IAdminCommentService.cs
  CaffStore.Backend/CaffStore.Backend.Interface.Bll/Services/IAdminUserService.cs
  CaffStore.Backend/CaffStore.Backend.Interface.Bll/Services/IUserService.cs
Due: pipelines/backend-azure-pipelines.yml

Remove unnecessary Required attribute
  CaffStore.Backend/CaffStore.Backend.Interface.Bll/Dtos/CaffItem/CaffItemDto.cs
  CaffStore.Backend/CaffStore.Backend.Interface.Bll/Dtos/Comment/CommentDto.cs
Due: pipelines/backend-azure-pipelines.yml

Remove code smell
  CaffStore.Backend/CaffStore.Backend.Bll/Services/AdminCommentService.cs
Due: pipelines/backend-azure-pipelines.yml

Remove unnecessary stuff
  CaffStore.Frontend/src/app/caff-list/caff-list.component.ts
Due: pipelines/frontend-azure-pipelines.yml

Fix warnings
  CaffStore.Frontend/src/app/api/generated/model/caffDataDto.ts
  CaffStore.Frontend/src/app/profile/profile.component.ts
Due: pipelines/frontend-azure-pipelines.yml

Material form
  CaffStore.Frontend/src/app/caff-details/caff-details.component.css
  CaffStore.Frontend/src/app/caff-details/caff-details.component.html
  CaffStore.Frontend/src/app/caff-details/caff-details.component.ts
  CaffStore.Frontend/src/app/caff-details/caff-details.module.ts
Due: pipelines/frontend-azure-pipelines.yml

Add date fields
  CaffStore.Frontend/src/app/caff-details/caff-details.component.css
  CaffStore.Frontend/src/app/caff-details/caff-details.component.html
  CaffStore.Frontend/src/app/caff-details/caff-details.component.ts
Due: pipelines/frontend-azure-pipelines.yml

Small fixes
  CaffStore.Frontend/src/app/caff-details/caff-details.component.css
  CaffStore.Frontend/src/app/caff-details/caff-details.component.html
Due: pipelines/frontend-azure-pipelines.yml

Comment section basics
  CaffStore.Frontend/src/app/caff-details/caff-details.component.css
  CaffStore.Frontend/src/app/caff-details/caff-details.component.html
  CaffStore.Frontend/src/app/caff-details/caff-details.module.ts
Due: pipelines/frontend-azure-pipelines.yml

Comment section events, new comment
  CaffStore.Frontend/src/app/caff-details/caff-details.component.css
  CaffStore.Frontend/src/app/caff-details/caff-details.component.html
  CaffStore.Frontend/src/app/caff-details/caff-details.component.ts
Due: pipelines/frontend-azure-pipelines.yml

Small changes
  CaffStore.Frontend/src/app/caff-details/caff-details.component.ts
Due: pipelines/frontend-azure-pipelines.yml

Styling changes
  CaffStore.Frontend/src/app/caff-details/caff-details.component.css
  CaffStore.Frontend/src/app/caff-details/caff-details.component.html
Due: pipelines/frontend-azure-pipelines.yml

Download button
  CaffStore.Frontend/src/app/caff-details/caff-details.component.css
  CaffStore.Frontend/src/app/caff-details/caff-details.component.html
  CaffStore.Frontend/src/app/caff-details/caff-details.component.ts
Due: pipelines/frontend-azure-pipelines.yml

Small changes
  CaffStore.Frontend/src/app/caff-details/caff-details.component.css
  CaffStore.Frontend/src/app/caff-details/caff-details.component.ts
Due: pipelines/frontend-azure-pipelines.yml

Styling changes
  CaffStore.Frontend/src/app/caff-details/caff-details.component.css
Due: pipelines/frontend-azure-pipelines.yml

FAB
  CaffStore.Frontend/src/app/caff-list/caff-list.component.css
  CaffStore.Frontend/src/app/caff-list/caff-list.component.html
  CaffStore.Frontend/src/app/caff-list/caff-list.module.ts
Due: pipelines/frontend-azure-pipelines.yml

Small changes
  CaffStore.Frontend/src/app/caff-details/caff-details.component.html
  CaffStore.Frontend/src/app/caff-list/caff-list.component.html
  CaffStore.Frontend/src/app/caff-list/caff-list.component.ts
Due: pipelines/frontend-azure-pipelines.yml

Caff upload dialog
  CaffStore.Frontend/src/app/app-routing.module.ts
  CaffStore.Frontend/src/app/caff-list/caff-list.component.ts
  CaffStore.Frontend/src/app/caff-list/caff-list.module.ts
  CaffStore.Frontend/src/app/new-caff-dialog/new-caff-dialog.component.css
  CaffStore.Frontend/src/app/new-caff-dialog/new-caff-dialog.component.html
  CaffStore.Frontend/src/app/new-caff-dialog/new-caff-dialog.component.spec.ts
  CaffStore.Frontend/src/app/new-caff-dialog/new-caff-dialog.component.ts
  CaffStore.Frontend/src/app/new-caff-dialog/new-caff-dialog.module.ts
Due: pipelines/frontend-azure-pipelines.yml

build fix, delete account, admin user operations
  CaffStore.Frontend/src/app/api/generated/api.module.ts
  CaffStore.Frontend/src/app/api/generated/api/adminCaffItem.service.ts
  CaffStore.Frontend/src/app/api/generated/api/adminComment.service.ts
  CaffStore.Frontend/src/app/api/generated/api/adminUser.service.ts
  CaffStore.Frontend/src/app/api/generated/api/api.ts
  CaffStore.Frontend/src/app/api/generated/api/user.service.ts
  CaffStore.Frontend/src/app/api/generated/model/adminChangePasswordDto.ts
  CaffStore.Frontend/src/app/api/generated/model/caffAnimationDataDto.ts
  CaffStore.Frontend/src/app/api/generated/model/caffDataDto.ts
  CaffStore.Frontend/src/app/api/generated/model/caffItemDetailsDto.ts
  CaffStore.Frontend/src/app/api/generated/model/caffItemDto.ts
  CaffStore.Frontend/src/app/api/generated/model/ciffDataDto.ts
  CaffStore.Frontend/src/app/api/generated/model/errorResponse.ts
  CaffStore.Frontend/src/app/api/generated/model/models.ts
  CaffStore.Frontend/src/app/auth/auth.service.ts
  CaffStore.Frontend/src/app/caff-details/caff-details.component.ts
  CaffStore.Frontend/src/app/caff-list/caff-list.component.ts
  CaffStore.Frontend/src/app/frame/frame.component.html
  CaffStore.Frontend/src/app/frame/frame.component.ts
  CaffStore.Frontend/src/app/profile/profile.component.ts
  CaffStore.Frontend/src/app/startpage/login/login.component.html
  CaffStore.Frontend/src/app/startpage/login/login.component.ts
Due: pipelines/frontend-azure-pipelines.yml

admin authguard check
  CaffStore.Frontend/src/app/auth/auth-guard.ts
  CaffStore.Frontend/src/app/auth/auth.service.ts
  CaffStore.Frontend/src/app/frame/frame.component.ts
Due: pipelines/frontend-azure-pipelines.yml

comment
  CaffStore.Frontend/src/app/frame/frame.component.ts
Due: pipelines/frontend-azure-pipelines.yml

change alert to material snackbar
  CaffStore.Frontend/src/app/profile/profile.component.ts
  CaffStore.Frontend/src/app/profile/profile.module.ts
  CaffStore.Frontend/src/app/startpage/login/login.component.ts
  CaffStore.Frontend/src/app/startpage/register/register.component.ts
  CaffStore.Frontend/src/app/startpage/startpage.module.ts
  CaffStore.Frontend/src/app/users/users.component.ts
  CaffStore.Frontend/src/app/users/users.module.ts
Due: pipelines/frontend-azure-pipelines.yml

Fix warnings
  CaffStore.Frontend/src/app/frame/frame.component.ts
Due: pipelines/frontend-azure-pipelines.yml

Fix warnings
  CaffStore.Frontend/src/app/auth/auth-guard.ts
  CaffStore.Frontend/src/app/startpage/register/register.component.ts
Due: pipelines/frontend-azure-pipelines.yml

Caff details component fixes (roles, additional data display)
  CaffStore.Frontend/src/app/auth/auth.service.ts
  CaffStore.Frontend/src/app/caff-details/caff-details.component.css
  CaffStore.Frontend/src/app/caff-details/caff-details.component.html
  CaffStore.Frontend/src/app/caff-details/caff-details.component.ts
Due: pipelines/frontend-azure-pipelines.yml

[Parser] CAFF Parser WIP #1
  CaffStore.Backend/CaffStore.Backend.Parser/CaffParser.cs
  CaffStore.Backend/CaffStore.Backend.Parser/CaffStore.Backend.Parser.csproj
Due: pipelines/backend-azure-pipelines.yml

[Parser] Added CIFF bitmap parsing WIP
  CaffStore.Backend/CaffStore.Backend.Parser/CaffParser.cs
Due: pipelines/backend-azure-pipelines.yml

shared list and dialog component, my-caffs and home
  CaffStore.Frontend/src/app/app-routing.module.ts
  CaffStore.Frontend/src/app/caff-list/caff-list.component.html
  CaffStore.Frontend/src/app/caff-list/caff-list.component.ts
  CaffStore.Frontend/src/app/caff-list/caff-list.module.ts
  CaffStore.Frontend/src/app/my-caffs/my-caffs-routing.module.ts
  CaffStore.Frontend/src/app/my-caffs/my-caffs.component.css
  CaffStore.Frontend/src/app/my-caffs/my-caffs.component.html
  CaffStore.Frontend/src/app/my-caffs/my-caffs.component.spec.ts
  CaffStore.Frontend/src/app/my-caffs/my-caffs.component.ts
  CaffStore.Frontend/src/app/my-caffs/my-caffs.module.ts
  CaffStore.Frontend/src/app/new-caff-dialog/new-caff-dialog.component.css
  CaffStore.Frontend/src/app/new-caff-dialog/new-caff-dialog.component.html
  CaffStore.Frontend/src/app/new-caff-dialog/new-caff-dialog.component.ts
  CaffStore.Frontend/src/app/new-caff-dialog/new-caff-dialog.module.ts
  CaffStore.Frontend/src/app/shared/components/new-caff-dialog/new-caff-dialog.component.css
  CaffStore.Frontend/src/app/shared/components/new-caff-dialog/new-caff-dialog.component.html
  CaffStore.Frontend/src/app/shared/components/new-caff-dialog/new-caff-dialog.component.spec.ts
  CaffStore.Frontend/src/app/shared/components/new-caff-dialog/new-caff-dialog.component.ts
  CaffStore.Frontend/src/app/shared/components/shared-caff-list/shared-caff-list.component.css
  CaffStore.Frontend/src/app/shared/components/shared-caff-list/shared-caff-list.component.html
  CaffStore.Frontend/src/app/shared/components/shared-caff-list/shared-caff-list.component.spec.ts
  CaffStore.Frontend/src/app/shared/components/shared-caff-list/shared-caff-list.component.ts
  CaffStore.Frontend/src/app/shared/shared.module.ts
Due: pipelines/frontend-azure-pipelines.yml

logout
  CaffStore.Frontend/src/app/auth/auth-guard.ts
  CaffStore.Frontend/src/app/frame/frame.component.ts
Due: pipelines/frontend-azure-pipelines.yml

User list added includeAdmins and email filter, added grantAdmin endpoint
  CaffStore.Backend/CaffStore.Backend.Api/Controllers/AdminUserController.cs
  CaffStore.Backend/CaffStore.Backend.Api/Identity/IdentityDataInitializer.cs
  CaffStore.Backend/CaffStore.Backend.Api/Identity/ServiceCollectionExtensions.cs
  CaffStore.Backend/CaffStore.Backend.Api/Queries/UserPagedQuery.cs
  CaffStore.Backend/CaffStore.Backend.Bll/Services/AdminUserService.cs
  CaffStore.Backend/CaffStore.Backend.Data/CaffStoreDbContext.cs
  CaffStore.Backend/CaffStore.Backend.Interface.Bll/Queries/IUserPagedQuery.cs
  CaffStore.Backend/CaffStore.Backend.Interface.Bll/Roles/CaffStoreRoles.cs
  CaffStore.Backend/CaffStore.Backend.Interface.Bll/Services/IAdminUserService.cs
Due: pipelines/backend-azure-pipelines.yml

[Parser] Windows parser integration done #Beautiful Scenery
  CaffStore.Backend/CaffStore.Backend.Parser.Native/CAFFHandler.cpp
  CaffStore.Backend/CaffStore.Backend.Parser/CaffParser.cs
  CaffStore.Backend/CaffStore.Backend.sln
Due: pipelines/backend-azure-pipelines.yml

Addes .so lib generation
  CIFFCAFFParser/CAFFApi.h
  CIFFCAFFParser/CAFFHandler.cpp
  CIFFCAFFParser/CAFFHandler.h
  CIFFCAFFParser/makefile
Due: pipelines/valgrind-azure-pipelines.yml

Make so library
  CIFFCAFFParser/CAFFApi.h
  CIFFCAFFParser/CAFFHandler.cpp
  CIFFCAFFParser/makefile
Due: pipelines/valgrind-azure-pipelines.yml

Remove pointer from processCaff
  CIFFCAFFParser/CAFFHandler.cpp
Due: pipelines/valgrind-azure-pipelines.yml

Add so parser library
  CaffStore.Backend/CaffStore.Backend.Parser/CaffParser.so
Due: pipelines/backend-azure-pipelines.yml

Add caffparser integration
  CaffStore.Backend/CaffStore.Backend.Parser/CaffStore.Backend.Parser.csproj
  CaffStore.Backend/CaffStore.Backend.Parser/Library/CaffParser.so
Due: pipelines/backend-azure-pipelines.yml

Path conditions:
  pipelines/backend-azure-pipelines.yml: any of: CaffStore.Backend
  pipelines/frontend-azure-pipelines.yml: any of: CaffStore.Frontend
  pipelines/valgrind-azure-pipelines.yml: any of: CIFFCAFFParser
