Repository bodnarkevin/turningoffon-itsec-2020: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/backend-azure-pipelines.yml, pipelines/frontend-azure-pipelines.yml, pipelines/valgrind-azure-pipelines.yml

Path conditions:
  pipelines/backend-azure-pipelines.yml: any of: CaffStore.Backend
  pipelines/frontend-azure-pipelines.yml: any of: CaffStore.Frontend
  pipelines/valgrind-azure-pipelines.yml: any of: CIFFCAFFParser

Fix sonar security warning
  CaffStore.Backend/CaffStore.Backend.Api/Identity/IdentityDataInitializer.cs
  CaffStore.Backend/CaffStore.Backend.Api/Startup.cs
  CaffStore.Backend/CaffStore.Backend.Api/appsettings.Development.json
  CaffStore.Backend/CaffStore.Backend.Api/appsettings.Production.json
  CaffStore.Backend/CaffStore.Backend.Bll/Options/AdminUser/AdminUserOptions.cs
Due: pipelines/backend-azure-pipelines.yml

Expand tests with commentService
  CaffStore.Backend/CaffStore.Backend.Test/CaffItemServiceTests.cs
  CaffStore.Backend/CaffStore.Backend.Test/CommentServiceTests.cs
  CaffStore.Backend/CaffStore.Backend.Test/Fixtures/CaffStoreTestFixture.cs
  CaffStore.Backend/CaffStore.Backend.Test/Fixtures/DatabaseFixture.cs
Due: pipelines/backend-azure-pipelines.yml

Add tests for CaffItem comments
  CaffStore.Backend/CaffStore.Backend.Test/CaffItemServiceTests.cs
Due: pipelines/backend-azure-pipelines.yml

Add comment deleteing tests
  CaffStore.Backend/CaffStore.Backend.Test/CommentServiceTests.cs
Due: pipelines/backend-azure-pipelines.yml

fix
  CaffStore.Frontend/src/app/shared/components/shared-caff-list/shared-caff-list.component.html
  CaffStore.Frontend/src/app/shared/components/shared-caff-list/shared-caff-list.component.ts
Due: pipelines/frontend-azure-pipelines.yml

fix editing
  CaffStore.Frontend/src/app/caff-details/caff-details.component.ts
Due: pipelines/frontend-azure-pipelines.yml

fuzzing changes
  CIFFCAFFParser/BytesToIntConverter.cpp
  CIFFCAFFParser/CAFFApi.h
  CIFFCAFFParser/CAFFHandler.cpp
  CIFFCAFFParser/CIFFHandler.cpp
  CIFFCAFFParser/Main.cpp
Due: pipelines/valgrind-azure-pipelines.yml

Added afl-g++ makefile rule
  CIFFCAFFParser/makefile
Due: pipelines/valgrind-azure-pipelines.yml

Fixed inputfile path read in Main
  CIFFCAFFParser/Main.cpp
Due: pipelines/valgrind-azure-pipelines.yml
