Repository bodnarkevin/turningoffon-itsec-2020: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/backend-azure-pipelines.yml, pipelines/frontend-azure-pipelines.yml

pipelines/backend-azure-pipelines.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    jobs:
    - job: Build
      steps:
      - task: UseDotNet@2
        inputs:
          packageType: sdk
          version: 2.x
      - task: SonarCloudPrepare@1
        inputs:
          SonarCloud: sonarCloudBackend
          organization: bodnarkevin
  ...

pipelines/frontend-azure-pipelines.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    jobs:
    - job: Build
      steps:
      - task: UseDotNet@2
        inputs:
          packageType: sdk
          version: 2.x
      - task: SonarCloudPrepare@1
        inputs:
          SonarCloud: sonarCloud
          organization: bodnarkevin
  ...

Update backend-azure-pipelines.yml for Azure Pipelines
  pipelines/backend-azure-pipelines.yml
Due: none

Update frontend-azure-pipelines.yml for Azure Pipelines
  pipelines/frontend-azure-pipelines.yml
Due: none

Update valgrind-azure-pipelines.yml for Azure Pipelines
  pipelines/valgrind-azure-pipelines.yml
Due: none

Include pipeline statuses in readme
  README.md
Due: none

Update swagger generation and frontend dockerfile
  CaffStore.Backend/CaffStore.Backend.Api/Swagger/ServiceCollectionExtensions.cs
  CaffStore.Backend/CaffStore.Backend.Api/appsettings.Development.json
  CaffStore.Backend/CaffStore.Backend.Api/appsettings.Production.json
  CaffStore.Backend/CaffStore.Backend.Bll/Options/Swagger/SwaggerGenOptions.cs
  CaffStore.Frontend/Dockerfile
Due: pipelines/backend-azure-pipelines.yml, pipelines/frontend-azure-pipelines.yml

Fix swagger config missing
  CaffStore.Backend/CaffStore.Backend.Api/Startup.cs
Due: pipelines/backend-azure-pipelines.yml

Update frontend dockerfile
  CaffStore.Frontend/Dockerfile
Due: pipelines/frontend-azure-pipelines.yml

Update README.md
  README.md
Due: none

Add parser project
  CaffStore.Backend/CaffStore.Backend.Api/Controllers/UserController.cs
  CaffStore.Backend/CaffStore.Backend.Parser/CaffFile.cs
  CaffStore.Backend/CaffStore.Backend.Parser/CaffParser.cs
  CaffStore.Backend/CaffStore.Backend.Parser/CaffStore.Backend.Parser.csproj
  CaffStore.Backend/CaffStore.Backend.sln
Due: pipelines/backend-azure-pipelines.yml

Remove scopes from swagger doc
  CaffStore.Backend/CaffStore.Backend.Api/Swagger/ServiceCollectionExtensions.cs
Due: pipelines/backend-azure-pipelines.yml

Provide full token url in swagger doc
  CaffStore.Backend/CaffStore.Backend.Api/Swagger/ServiceCollectionExtensions.cs
  CaffStore.Backend/CaffStore.Backend.Api/appsettings.Development.json
  CaffStore.Backend/CaffStore.Backend.Api/appsettings.Production.json
  CaffStore.Backend/CaffStore.Backend.Bll/Options/Swagger/SwaggerGenOptions.cs
Due: pipelines/backend-azure-pipelines.yml

Provide refresh uri in swagger doc
  CaffStore.Backend/CaffStore.Backend.Api/Swagger/ServiceCollectionExtensions.cs
Due: pipelines/backend-azure-pipelines.yml

Path conditions:
  pipelines/backend-azure-pipelines.yml: any of: CaffStore.Backend
  pipelines/frontend-azure-pipelines.yml: any of: CaffStore.Frontend
