Repository bodnarkevin/turningoffon-itsec-2020: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/backend-azure-pipelines.yml, pipelines/frontend-azure-pipelines.yml, pipelines/valgrind-azure-pipelines.yml

Path conditions:
  pipelines/backend-azure-pipelines.yml: any of: CaffStore.Backend
  pipelines/frontend-azure-pipelines.yml: any of: CaffStore.Frontend
  pipelines/valgrind-azure-pipelines.yml: any of: CIFFCAFFParser

Update valgrind-azure-pipelines.yml for Azure Pipelines
  pipelines/valgrind-azure-pipelines.yml
Due: none

makefile small refactor
  CIFFCAFFParser/makefile
Due: pipelines/valgrind-azure-pipelines.yml

Improved makefile
  CIFFCAFFParser/makefile
Due: pipelines/valgrind-azure-pipelines.yml

valgrind test for 1.caff
  CIFFCAFFParser/Main.cpp
Due: pipelines/valgrind-azure-pipelines.yml

Improved valgrind CI with dll function invocation
  CIFFCAFFParser/CAFFApi.h
  CIFFCAFFParser/Main.cpp
Due: pipelines/valgrind-azure-pipelines.yml

Valgrind fix #1 WIP
  CIFFCAFFParser/Main.cpp
Due: pipelines/valgrind-azure-pipelines.yml

Valgrind fix #2 WIP #nearly there....
  CIFFCAFFParser/Main.cpp
Due: pipelines/valgrind-azure-pipelines.yml

Valgrind fix #3 WIP Improved wrong json output handling
  CIFFCAFFParser/CAFFHandler.cpp
  CIFFCAFFParser/Main.cpp
Due: pipelines/valgrind-azure-pipelines.yml

Valgrind fix #4 WIP Actually adding CaffParser.cs error handling
  CIFFCAFFParser/Main.cpp
  CaffStore.Backend/CaffStore.Backend.Parser/CaffParser.cs
Due: pipelines/backend-azure-pipelines.yml, pipelines/valgrind-azure-pipelines.yml

Valgrind fix #5 WIP
  CIFFCAFFParser/Main.cpp
Due: pipelines/valgrind-azure-pipelines.yml

Valgrind fix #6 WIP
  CIFFCAFFParser/Main.cpp
Due: pipelines/valgrind-azure-pipelines.yml

Valgrind fix #6 WIP changed malloc to free
  CIFFCAFFParser/CAFFHandler.cpp
  CIFFCAFFParser/Main.cpp
Due: pipelines/valgrind-azure-pipelines.yml

Valgrind fix #7 WIP
  CIFFCAFFParser/CAFFHandler.cpp
Due: pipelines/valgrind-azure-pipelines.yml

Valgrind fix #8 WIP Small refactor Added errorMessage return
  CIFFCAFFParser/CAFFHandler.cpp
  CIFFCAFFParser/CAFFHandler.h
  CIFFCAFFParser/Main.cpp
Due: pipelines/valgrind-azure-pipelines.yml

Update CAFFHandler.cpp
  CIFFCAFFParser/CAFFHandler.cpp
Due: pipelines/valgrind-azure-pipelines.yml

fix error
  CaffStore.Frontend/src/app/api/generated/api/adminUser.service.ts
  CaffStore.Frontend/src/app/users/users.component.ts
Due: pipelines/frontend-azure-pipelines.yml

delete comment
  CaffStore.Frontend/src/app/users/users.component.ts
Due: pipelines/frontend-azure-pipelines.yml

grant admin role
  CaffStore.Frontend/src/app/profile/profile.component.html
  CaffStore.Frontend/src/app/profile/profile.component.ts
  CaffStore.Frontend/src/app/users/users.component.ts
Due: pipelines/frontend-azure-pipelines.yml

fix console error
  CaffStore.Frontend/src/app/auth/auth.service.ts
Due: pipelines/frontend-azure-pipelines.yml

user list filter
  CaffStore.Frontend/src/app/users/users.component.css
  CaffStore.Frontend/src/app/users/users.component.html
  CaffStore.Frontend/src/app/users/users.component.ts
  CaffStore.Frontend/src/app/users/users.module.ts
Due: pipelines/frontend-azure-pipelines.yml

handle errors, async authguard
  CaffStore.Frontend/angular.json
  CaffStore.Frontend/src/app/auth/auth-guard.ts
  CaffStore.Frontend/src/app/frame/frame.component.ts
  CaffStore.Frontend/src/app/profile/profile.component.ts
  CaffStore.Frontend/src/app/startpage/register/register.component.ts
  CaffStore.Frontend/src/app/users/users.component.ts
Due: pipelines/frontend-azure-pipelines.yml

remove test data
  CaffStore.Frontend/src/app/caff-details/caff-details.component.ts
  CaffStore.Frontend/src/app/shared/components/shared-caff-list/shared-caff-list.component.ts
Due: pipelines/frontend-azure-pipelines.yml

filtering
  CaffStore.Frontend/src/app/caff-details/caff-details.component.ts
  CaffStore.Frontend/src/app/shared/components/filter-caffs-dialog/filter-caffs-dialog.component.css
  CaffStore.Frontend/src/app/shared/components/filter-caffs-dialog/filter-caffs-dialog.component.html
  CaffStore.Frontend/src/app/shared/components/filter-caffs-dialog/filter-caffs-dialog.component.spec.ts
  CaffStore.Frontend/src/app/shared/components/filter-caffs-dialog/filter-caffs-dialog.component.ts
  CaffStore.Frontend/src/app/shared/components/new-caff-dialog/new-caff-dialog.component.html
  CaffStore.Frontend/src/app/shared/components/new-caff-dialog/new-caff-dialog.component.ts
  CaffStore.Frontend/src/app/shared/components/shared-caff-list/shared-caff-list.component.css
  CaffStore.Frontend/src/app/shared/components/shared-caff-list/shared-caff-list.component.html
  CaffStore.Frontend/src/app/shared/components/shared-caff-list/shared-caff-list.component.ts
  CaffStore.Frontend/src/app/shared/shared.module.ts
Due: pipelines/frontend-azure-pipelines.yml

Minor fixes
  CaffStore.Frontend/src/app/auth/auth.service.ts
  CaffStore.Frontend/src/app/caff-details/caff-details.component.html
  CaffStore.Frontend/src/app/caff-list/caff-list.component.ts
  CaffStore.Frontend/src/app/shared/components/new-caff-dialog/new-caff-dialog.component.ts
  CaffStore.Frontend/src/app/shared/components/shared-caff-list/shared-caff-list.component.css
Due: pipelines/frontend-azure-pipelines.yml

formatting
  CaffStore.Frontend/src/app/auth/auth.service.ts
Due: pipelines/frontend-azure-pipelines.yml

minimal respo
  CaffStore.Frontend/src/app/profile/profile.component.css
  CaffStore.Frontend/src/app/startpage/startpage.component.css
  CaffStore.Frontend/src/app/startpage/startpage.component.html
Due: pipelines/frontend-azure-pipelines.yml

sonar fixes
  CaffStore.Frontend/src/app/auth/auth.service.ts
  CaffStore.Frontend/src/app/error-page/error-page.component.css
  CaffStore.Frontend/src/app/shared/utils.ts
  CaffStore.Frontend/src/app/startpage/register/register.component.css
  CaffStore.Frontend/src/app/startpage/register/register.component.ts
Due: pipelines/frontend-azure-pipelines.yml

Refactor, sonar code smell fixes
  CIFFCAFFParser/CAFFHandler.cpp
  CIFFCAFFParser/makefile
  CaffStore.Backend/CaffStore.Backend.Api/appsettings.Development.json
  CaffStore.Backend/CaffStore.Backend.Parser.Native/BytesToIntConverter.cpp
  CaffStore.Backend/CaffStore.Backend.Parser.Native/BytesToIntConverter.h
  CaffStore.Backend/CaffStore.Backend.Parser.Native/CAFFApi.h
  CaffStore.Backend/CaffStore.Backend.Parser.Native/CAFFHandler.cpp
  CaffStore.Backend/CaffStore.Backend.Parser.Native/CAFFHandler.h
  CaffStore.Backend/CaffStore.Backend.Parser.Native/CIFFHandler.cpp
  CaffStore.Backend/CaffStore.Backend.Parser.Native/CIFFHandler.h
  CaffStore.Backend/CaffStore.Backend.Parser.Native/CaffStore.Backend.Parser.Native.vcxproj
  CaffStore.Backend/CaffStore.Backend.Parser.Native/CaffStore.Backend.Parser.Native.vcxproj.filters
  CaffStore.Backend/CaffStore.Backend.Parser.Native/Logger.cpp
  CaffStore.Backend/CaffStore.Backend.Parser.Native/Logger.h
  CaffStore.Backend/CaffStore.Backend.Parser.Native/ParserExceptions.cpp
  CaffStore.Backend/CaffStore.Backend.Parser.Native/ParserExceptions.h
  CaffStore.Backend/CaffStore.Backend.Parser.Native/dllmain.cpp
  CaffStore.Backend/CaffStore.Backend.Parser.Native/framework.h
  CaffStore.Backend/CaffStore.Backend.Parser.Native/pch.cpp
  CaffStore.Backend/CaffStore.Backend.Parser.Native/pch.h
  CaffStore.Backend/CaffStore.Backend.Parser/CAFFParser.dll
  CaffStore.Backend/CaffStore.Backend.Parser/CaffParser.cs
  CaffStore.Backend/CaffStore.Backend.sln
Due: pipelines/backend-azure-pipelines.yml, pipelines/valgrind-azure-pipelines.yml

sonar fix (code duplication)
  CaffStore.Frontend/src/app/auth/auth.service.ts
  CaffStore.Frontend/src/app/profile/profile.component.ts
Due: pipelines/frontend-azure-pipelines.yml

Ordering
  CaffStore.Frontend/src/app/shared/components/shared-caff-list/shared-caff-list.component.html
  CaffStore.Frontend/src/app/shared/components/shared-caff-list/shared-caff-list.component.ts
Due: pipelines/frontend-azure-pipelines.yml

Download
  CaffStore.Frontend/src/app/caff-details/caff-details.component.ts
Due: pipelines/frontend-azure-pipelines.yml

sonar fix 1
  CaffStore.Frontend/src/app/caff-details/caff-details.component.html
Due: pipelines/frontend-azure-pipelines.yml

Sonar fixes #2
  CIFFCAFFParser/CAFFHandler.cpp
Due: pipelines/valgrind-azure-pipelines.yml

Valgrind fix #1.1
  CIFFCAFFParser/CAFFHandler.cpp
Due: pipelines/valgrind-azure-pipelines.yml

Error handling
  CaffStore.Frontend/src/app/caff-details/caff-details.component.ts
  CaffStore.Frontend/src/app/caff-details/caff-details.module.ts
  CaffStore.Frontend/src/app/shared/components/shared-caff-list/shared-caff-list.component.ts
  CaffStore.Frontend/src/app/shared/shared.module.ts
Due: pipelines/frontend-azure-pipelines.yml

Valgrind test with comments
  CIFFCAFFParser/CAFFHandler.cpp
Due: pipelines/valgrind-azure-pipelines.yml

Sonar and Valgrind fix #1.2
  CIFFCAFFParser/CAFFHandler.cpp
Due: pipelines/valgrind-azure-pipelines.yml

Valgrind debug #1
  CIFFCAFFParser/CAFFHandler.cpp
Due: pipelines/valgrind-azure-pipelines.yml
