Repository bodnarkevin/turningoffon-itsec-2020: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/backend-azure-pipelines.yml, pipelines/frontend-azure-pipelines.yml, pipelines/valgrind-azure-pipelines.yml

Path conditions:
  pipelines/backend-azure-pipelines.yml: any of: CaffStore.Backend
  pipelines/frontend-azure-pipelines.yml: any of: CaffStore.Frontend
  pipelines/valgrind-azure-pipelines.yml: any of: CIFFCAFFParser

Frontend nginx config
  CaffStore.Frontend/Dockerfile
  CaffStore.Frontend/nginx.conf
Due: pipelines/frontend-azure-pipelines.yml

Update frontend-azure-pipelines.yml for Azure Pipelines
  pipelines/frontend-azure-pipelines.yml
Due: none

Fix frontend Dockerfile
  CaffStore.Frontend/Dockerfile
Due: pipelines/frontend-azure-pipelines.yml

Add consumes to swagger doc
  CaffStore.Backend/CaffStore.Backend.Api/Controllers/UserController.cs
Due: pipelines/backend-azure-pipelines.yml

Add produces to swagger doc
  CaffStore.Backend/CaffStore.Backend.Api/Controllers/UserController.cs
Due: pipelines/backend-azure-pipelines.yml

Add missing produces to swagger
  CaffStore.Backend/CaffStore.Backend.Api/Controllers/UserController.cs
Due: pipelines/backend-azure-pipelines.yml

Remove failing profile test
  CaffStore.Frontend/src/app/profile/profile.component.spec.ts
Due: pipelines/frontend-azure-pipelines.yml

Update CaffParser signature
  CaffStore.Backend/CaffStore.Backend.Parser/CaffParseResult.cs
  CaffStore.Backend/CaffStore.Backend.Parser/CaffParser.cs
Due: pipelines/backend-azure-pipelines.yml

Disable test running for frontend
  pipelines/frontend-azure-pipelines.yml
Due: none

Disable only code coverage on frontend
  pipelines/frontend-azure-pipelines.yml
Due: none

Update karma config for pipeline to succeed tests
  CaffStore.Frontend/karma.conf.js
Due: pipelines/frontend-azure-pipelines.yml

Exclude generated api from sonar
  pipelines/frontend-azure-pipelines.yml
Due: none

Update backend-azure-pipelines.yml for Azure Pipelines
  pipelines/backend-azure-pipelines.yml
Due: none

Pipeline test
  CaffStore.Frontend/src/app/login/login.component.html
Due: pipelines/frontend-azure-pipelines.yml

Update valgrind-azure-pipelines.yml for Azure Pipelines
  pipelines/valgrind-azure-pipelines.yml
Due: none

Move generated api folder
  CaffStore.Frontend/package.json
  CaffStore.Frontend/src/app/api/generated/.gitignore
  CaffStore.Frontend/src/app/api/generated/.openapi-generator-ignore
  CaffStore.Frontend/src/app/api/generated/.openapi-generator/VERSION
  CaffStore.Frontend/src/app/api/generated/README.md
  CaffStore.Frontend/src/app/api/generated/api.module.ts
  CaffStore.Frontend/src/app/api/generated/api/api.ts
  CaffStore.Frontend/src/app/api/generated/api/user.service.ts
  CaffStore.Frontend/src/app/api/generated/configuration.ts
  CaffStore.Frontend/src/app/api/generated/encoder.ts
  CaffStore.Frontend/src/app/api/generated/git_push.sh
  CaffStore.Frontend/src/app/api/generated/index.ts
  CaffStore.Frontend/src/app/api/generated/model/changePasswordDto.ts
  CaffStore.Frontend/src/app/api/generated/model/errorResponse.ts
  CaffStore.Frontend/src/app/api/generated/model/models.ts
  CaffStore.Frontend/src/app/api/generated/model/registerUserDto.ts
  CaffStore.Frontend/src/app/api/generated/model/updateUserProfileDto.ts
  CaffStore.Frontend/src/app/api/generated/model/userProfileDto.ts
  CaffStore.Frontend/src/app/api/generated/variables.ts
  CaffStore.Frontend/src/app/app.module.ts
  CaffStore.Frontend/src/app/profile/profile.component.ts
  CaffStore.Frontend/src/app/register/register.component.ts
Due: pipelines/frontend-azure-pipelines.yml

Rename variable
  CaffStore.Frontend/src/app/app.module.ts
Due: pipelines/frontend-azure-pipelines.yml

Create pagination and basic caffItem endpoint
  CaffStore.Backend/CaffStore.Backend.Api/CaffStore.Backend.Api.csproj
  CaffStore.Backend/CaffStore.Backend.Api/Controllers/CaffItemController.cs
  CaffStore.Backend/CaffStore.Backend.Api/Identity/ServiceCollectionExtensions.cs
  CaffStore.Backend/CaffStore.Backend.Api/Migrations/20201117221927_Initial.Designer.cs
  CaffStore.Backend/CaffStore.Backend.Api/Migrations/20201117221927_Initial.cs
  CaffStore.Backend/CaffStore.Backend.Api/Migrations/CaffStoreDbContextModelSnapshot.cs
  CaffStore.Backend/CaffStore.Backend.Api/Pagination/Queries/PaginationQuery.cs
  CaffStore.Backend/CaffStore.Backend.Bll/AutoMapper/Profiles/CaffProfile.cs
  CaffStore.Backend/CaffStore.Backend.Bll/AutoMapper/ServiceCollectionExtensions.cs
  CaffStore.Backend/CaffStore.Backend.Bll/CaffStore.Backend.Bll.csproj
  CaffStore.Backend/CaffStore.Backend.Bll/Pagination/Extensions/QueryableExtensions.cs
  CaffStore.Backend/CaffStore.Backend.Bll/Services/CaffItemService.cs
  CaffStore.Backend/CaffStore.Backend.Bll/Services/Extensions/ServiceCollectionExtensions.cs
  CaffStore.Backend/CaffStore.Backend.Bll/Services/FileService.cs
  CaffStore.Backend/CaffStore.Backend.Data/CaffStoreDbContext.cs
  CaffStore.Backend/CaffStore.Backend.Data/Entities/CaffAnimationData.cs
  CaffStore.Backend/CaffStore.Backend.Data/Entities/CaffData.cs
  CaffStore.Backend/CaffStore.Backend.Data/Entities/CaffItem.cs
  CaffStore.Backend/CaffStore.Backend.Data/Entities/CiffData.cs
  CaffStore.Backend/CaffStore.Backend.Data/Entities/CiffDataTag.cs
  CaffStore.Backend/CaffStore.Backend.Data/Entities/File.cs
  CaffStore.Backend/CaffStore.Backend.Data/Entities/IAuditableEntity.cs
  CaffStore.Backend/CaffStore.Backend.Data/Entities/Role.cs
  CaffStore.Backend/CaffStore.Backend.Data/Entities/Tag.cs
  CaffStore.Backend/CaffStore.Backend.Data/Entities/User.cs
  CaffStore.Backend/CaffStore.Backend.Interface.Bll/Dtos/Caff/CaffAnimationDataDto.cs
  CaffStore.Backend/CaffStore.Backend.Interface.Bll/Dtos/Caff/CaffDataDto.cs
  CaffStore.Backend/CaffStore.Backend.Interface.Bll/Dtos/Caff/CaffItemDto.cs
  CaffStore.Backend/CaffStore.Backend.Interface.Bll/Dtos/Caff/CiffDataDto.cs
  CaffStore.Backend/CaffStore.Backend.Interface.Bll/Dtos/User/UserDto.cs
  CaffStore.Backend/CaffStore.Backend.Interface.Bll/Dtos/User/UserProfileDto.cs
  CaffStore.Backend/CaffStore.Backend.Interface.Bll/Pagination/Queries/PaginationQuery.cs
  CaffStore.Backend/CaffStore.Backend.Interface.Bll/Pagination/Responses/PagedResult.cs
  CaffStore.Backend/CaffStore.Backend.Interface.Bll/Services/ICaffItemService.cs
  CaffStore.Backend/CaffStore.Backend.Interface.Bll/Services/IFileService.cs
  CaffStore.Backend/CaffStore.Backend.Parser/CaffFile.cs
  CaffStore.Backend/CaffStore.Backend.Parser/CaffParseResult.cs
  CaffStore.Backend/CaffStore.Backend.Parser/CaffParser.cs
  CaffStore.Backend/CaffStore.Backend.Parser/CaffStore.Backend.Parser.csproj
Due: pipelines/backend-azure-pipelines.yml

WIP endpoints for caffItems
  CaffStore.Backend/CaffStore.Backend.Api/BlobStorage/ServiceCollectionExtensions.cs
  CaffStore.Backend/CaffStore.Backend.Api/Controllers/CaffItemController.cs
  CaffStore.Backend/CaffStore.Backend.Api/Migrations/20201119220020_Files.Designer.cs
  CaffStore.Backend/CaffStore.Backend.Api/Migrations/20201119220020_Files.cs
  CaffStore.Backend/CaffStore.Backend.Api/Pagination/Queries/PagedQuery.cs
  CaffStore.Backend/CaffStore.Backend.Api/Startup.cs
  CaffStore.Backend/CaffStore.Backend.Api/appsettings.Production.json
  CaffStore.Backend/CaffStore.Backend.Bll/AutoMapper/Profiles/CaffProfile.cs
  CaffStore.Backend/CaffStore.Backend.Bll/AutoMapper/Profiles/FileProfile.cs
  CaffStore.Backend/CaffStore.Backend.Bll/CaffStore.Backend.Bll.csproj
  CaffStore.Backend/CaffStore.Backend.Bll/Options/BlobStorage/BlobStorageOptions.cs
  CaffStore.Backend/CaffStore.Backend.Bll/Pagination/Extensions/QueryableExtensions.cs
  CaffStore.Backend/CaffStore.Backend.Bll/Services/CaffItemService.cs
  CaffStore.Backend/CaffStore.Backend.Bll/Services/FileService.cs
  CaffStore.Backend/CaffStore.Backend.Data/CaffStoreDbContext.cs
  CaffStore.Backend/CaffStore.Backend.Data/Entities/CaffFile.cs
  CaffStore.Backend/CaffStore.Backend.Data/Entities/CaffItem.cs
  CaffStore.Backend/CaffStore.Backend.Data/Entities/File.cs
  CaffStore.Backend/CaffStore.Backend.Data/Entities/PreviewFile.cs
  CaffStore.Backend/CaffStore.Backend.Data/Extensions/CaffStoreDbContextExtensions.cs
  CaffStore.Backend/CaffStore.Backend.Interface.Bll/CaffStore.Backend.Interface.Bll.csproj
  CaffStore.Backend/CaffStore.Backend.Interface.Bll/Dtos/Caff/AddCaffItemDto.cs
  CaffStore.Backend/CaffStore.Backend.Interface.Bll/Dtos/Caff/CaffItemDetailsDto.cs
  CaffStore.Backend/CaffStore.Backend.Interface.Bll/Dtos/Caff/CaffItemDto.cs
  CaffStore.Backend/CaffStore.Backend.Interface.Bll/Dtos/File/UploadFileDto.cs
  CaffStore.Backend/CaffStore.Backend.Interface.Bll/Enums/FileType.cs
  CaffStore.Backend/CaffStore.Backend.Interface.Bll/Pagination/Queries/IPagedQuery.cs
  CaffStore.Backend/CaffStore.Backend.Interface.Bll/Pagination/Responses/PagedResponse.cs
  CaffStore.Backend/CaffStore.Backend.Interface.Bll/Services/ICaffItemService.cs
  CaffStore.Backend/CaffStore.Backend.Interface.Bll/Services/IFileService.cs
  CaffStore.Backend/CaffStore.Backend.Parser/CaffParser.cs
Due: pipelines/backend-azure-pipelines.yml

Basic caffItem functionality
  CaffStore.Backend/CaffStore.Backend.Bll/Services/CaffItemService.cs
  CaffStore.Backend/CaffStore.Backend.Interface.Bll/Services/ICaffItemService.cs
Due: pipelines/backend-azure-pipelines.yml

Caff add download endpoint
  CaffStore.Backend/CaffStore.Backend.Api/Controllers/CaffItemController.cs
  CaffStore.Backend/CaffStore.Backend.Parser/CaffParser.cs
Due: pipelines/backend-azure-pipelines.yml

Fix linux bocker missing Drawing dependency
  CaffStore.Backend/CaffStore.Backend.Api/Dockerfile
  CaffStore.Backend/CaffStore.Backend.Parser/CaffStore.Backend.Parser.csproj
Due: pipelines/backend-azure-pipelines.yml
