Repository bodnarkevin/turningoffon-itsec-2020: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/backend-azure-pipelines.yml, pipelines/frontend-azure-pipelines.yml, pipelines/valgrind-azure-pipelines.yml

pipelines/backend-azure-pipelines.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    jobs:
    - job: Build
      steps:
      - task: UseDotNet@2
        inputs:
          packageType: sdk
          version: 2.x
      - task: SonarCloudPrepare@1
        inputs:
          SonarCloud: sonarCloudBackend
          organization: bodnarkevin
  ...

pipelines/frontend-azure-pipelines.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    jobs:
    - job: Build
      steps:
      - task: SonarCloudPrepare@1
        inputs:
          SonarCloud: sonarCloudFrontend
          organization: bodnarkevin
          scannerMode: CLI
          configMode: manual
          cliProjectKey: caffly-frontend
  ...

pipelines/valgrind-azure-pipelines.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    jobs:
    - job: Build
      steps:
      - script: 'sudo apt-get install build-essential
  
          sudo apt-get install valgrind
  
          '
        displayName: Install dependencies
      - script: 'make
  
          '
  ...

Valgrind debug #2
  CIFFCAFFParser/CAFFHandler.cpp
Due: pipelines/valgrind-azure-pipelines.yml

Valgrind fix #1.3
  CIFFCAFFParser/CAFFHandler.cpp
  CIFFCAFFParser/CAFFHandler.h
  CIFFCAFFParser/CIFFHandler.h
Due: pipelines/valgrind-azure-pipelines.yml

Improved error detection in CAFFHandler
  CIFFCAFFParser/CAFFHandler.cpp
  CIFFCAFFParser/Main.cpp
Due: pipelines/valgrind-azure-pipelines.yml

Fixed bug reported by sonar (catch exception by reference)
  CIFFCAFFParser/Main.cpp
Due: pipelines/valgrind-azure-pipelines.yml

Update appsettings.Development.json
  CaffStore.Backend/CaffStore.Backend.Api/appsettings.Development.json
Due: pipelines/backend-azure-pipelines.yml

Add .so to library path
  CaffStore.Backend/CaffStore.Backend.Parser/CaffParser.cs
Due: pipelines/backend-azure-pipelines.yml

Docker relative path fix
  CaffStore.Backend/CaffStore.Backend.Parser/CaffParser.cs
Due: pipelines/backend-azure-pipelines.yml

Update docker file dependecies
  CaffStore.Backend/CaffStore.Backend.Api/Dockerfile
Due: pipelines/backend-azure-pipelines.yml

Fix test file imports
  CaffStore.Frontend/src/app/auth/auth-guard.spec.ts
  CaffStore.Frontend/src/app/caff-details/caff-details.component.spec.ts
  CaffStore.Frontend/src/app/frame/frame.component.spec.ts
  CaffStore.Frontend/src/app/profile/profile.component.spec.ts
  CaffStore.Frontend/src/app/shared/components/filter-caffs-dialog/filter-caffs-dialog.component.spec.ts
  CaffStore.Frontend/src/app/shared/components/new-caff-dialog/new-caff-dialog.component.spec.ts
  CaffStore.Frontend/src/app/shared/components/shared-caff-list/shared-caff-list.component.spec.ts
  CaffStore.Frontend/src/app/users/users.component.spec.ts
Due: pipelines/frontend-azure-pipelines.yml

Install libc6-dev on docker
  CaffStore.Backend/CaffStore.Backend.Api/Dockerfile
Due: pipelines/backend-azure-pipelines.yml

Update valgrind-azure-pipelines.yml for Azure Pipelines
  pipelines/valgrind-azure-pipelines.yml
Due: none

Delete CaffParser.so
  CaffStore.Backend/CaffStore.Backend.Parser/Library/CaffParser.so
Due: pipelines/backend-azure-pipelines.yml

Add some tests
  CaffStore.Frontend/src/app/shared/components/shared-caff-list/shared-caff-list.component.html
  CaffStore.Frontend/src/app/shared/components/shared-caff-list/shared-caff-list.component.spec.ts
  CaffStore.Frontend/src/app/shared/components/shared-caff-list/shared-caff-list.component.ts
Due: pipelines/frontend-azure-pipelines.yml

Add new so file
  CaffStore.Backend/CaffStore.Backend.Parser/Library/CaffParser.so
Due: pipelines/backend-azure-pipelines.yml

wip
  CaffStore.Frontend/src/app/shared/components/new-caff-dialog/new-caff-dialog.component.spec.ts
  CaffStore.Frontend/src/app/shared/components/shared-caff-list/shared-caff-list.component.html
  CaffStore.Frontend/src/app/shared/components/shared-caff-list/shared-caff-list.component.spec.ts
  CaffStore.Frontend/src/app/shared/components/shared-caff-list/shared-caff-list.component.ts
  CaffStore.Frontend/src/app/startpage/register/register.component.ts
Due: pipelines/frontend-azure-pipelines.yml

Fix file upload
  CaffStore.Frontend/src/app/app.module.ts
  CaffStore.Frontend/src/app/shared/components/new-caff-dialog/new-caff-dialog.component.css
  CaffStore.Frontend/src/app/shared/components/new-caff-dialog/new-caff-dialog.component.html
  CaffStore.Frontend/src/app/shared/components/new-caff-dialog/new-caff-dialog.component.ts
  CaffStore.Frontend/src/app/shared/components/shared-caff-list/shared-caff-list.component.ts
  CaffStore.Frontend/src/app/shared/shared.module.ts
Due: pipelines/frontend-azure-pipelines.yml

Remove form control for file
  CaffStore.Frontend/src/app/shared/components/new-caff-dialog/new-caff-dialog.component.html
  CaffStore.Frontend/src/app/shared/components/new-caff-dialog/new-caff-dialog.component.ts
Due: pipelines/frontend-azure-pipelines.yml

Sonar fix
  CaffStore.Frontend/src/app/shared/components/shared-caff-list/shared-caff-list.component.ts
Due: pipelines/frontend-azure-pipelines.yml

Removed lodepng.so, small refactor
  CIFFCAFFParser/CAFFHandler.cpp
  CIFFCAFFParser/CIFFHandler.cpp
  CIFFCAFFParser/CIFFHandler.h
  CIFFCAFFParser/lodepng.cpp
  CIFFCAFFParser/lodepng.h
  CIFFCAFFParser/makefile
Due: pipelines/valgrind-azure-pipelines.yml

Upload new so library
  CaffStore.Backend/CaffStore.Backend.Parser/Library/CaffParser.so
Due: pipelines/backend-azure-pipelines.yml

Fix exception handling in parser
  CIFFCAFFParser/CAFFHandler.cpp
  CIFFCAFFParser/ParserExceptions.cpp
  CIFFCAFFParser/ParserExceptions.h
Due: pipelines/valgrind-azure-pipelines.yml

Add some tests
  CaffStore.Frontend/src/app/frame/frame.component.spec.ts
  CaffStore.Frontend/src/app/frame/frame.component.ts
  CaffStore.Frontend/src/app/profile/profile.component.spec.ts
Due: pipelines/frontend-azure-pipelines.yml

Enable frontend tests
  pipelines/frontend-azure-pipelines.yml
Due: none

additional tests
  CaffStore.Frontend/src/app/caff-details/caff-details.component.html
  CaffStore.Frontend/src/app/caff-details/caff-details.component.spec.ts
Due: pipelines/frontend-azure-pipelines.yml

additional tests
  CaffStore.Frontend/src/app/startpage/startpage.component.html
  CaffStore.Frontend/src/app/startpage/startpage.component.spec.ts
Due: pipelines/frontend-azure-pipelines.yml

More frontend tests (#58)
  CaffStore.Frontend/src/app/caff-details/caff-details.component.html
  CaffStore.Frontend/src/app/caff-details/caff-details.component.spec.ts
  CaffStore.Frontend/src/app/startpage/startpage.component.html
  CaffStore.Frontend/src/app/startpage/startpage.component.spec.ts
Due: pipelines/frontend-azure-pipelines.yml

Revert "More frontend tests (#58)"
  CaffStore.Frontend/src/app/caff-details/caff-details.component.html
  CaffStore.Frontend/src/app/caff-details/caff-details.component.spec.ts
  CaffStore.Frontend/src/app/startpage/startpage.component.html
  CaffStore.Frontend/src/app/startpage/startpage.component.spec.ts
Due: pipelines/frontend-azure-pipelines.yml

Fix test paralell error
  CaffStore.Backend/CaffStore.Backend.Test/CaffItemServiceTests.cs
Due: pipelines/backend-azure-pipelines.yml

Update backend-azure-pipelines.yml for Azure Pipelines
  pipelines/backend-azure-pipelines.yml
Due: none

Fix my images page load more
  CaffStore.Frontend/src/app/shared/components/shared-caff-list/shared-caff-list.component.ts
Due: pipelines/frontend-azure-pipelines.yml

Add coverage info to backend
  CaffStore.Backend/.gitignore
  CaffStore.Backend/CaffStore.Backend.Test/CaffStore.Backend.Test.csproj
Due: pipelines/backend-azure-pipelines.yml

Added test for delete
  CaffStore.Backend/CaffStore.Backend.Test/CaffItemServiceTests.cs
  CaffStore.Backend/CaffStore.Backend.Test/Fixtures/DatabaseFixture.cs
Due: pipelines/backend-azure-pipelines.yml

Actualize tests
  CaffStore.Frontend/src/app/shared/components/shared-caff-list/shared-caff-list.component.spec.ts
Due: pipelines/frontend-azure-pipelines.yml

Fix my images page load more (#61)
  CaffStore.Frontend/src/app/shared/components/shared-caff-list/shared-caff-list.component.spec.ts
  CaffStore.Frontend/src/app/shared/components/shared-caff-list/shared-caff-list.component.ts
Due: pipelines/frontend-azure-pipelines.yml

Path conditions:
  pipelines/backend-azure-pipelines.yml: any of: CaffStore.Backend
  pipelines/frontend-azure-pipelines.yml: any of: CaffStore.Frontend
  pipelines/valgrind-azure-pipelines.yml: any of: CIFFCAFFParser
