Repository bodnarkevin/turningoffon-itsec-2020: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/backend-azure-pipelines.yml, pipelines/frontend-azure-pipelines.yml, pipelines/valgrind-azure-pipelines.yml

pipelines/backend-azure-pipelines.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    jobs:
    - job: Build
      steps:
      - task: UseDotNet@2
        inputs:
          packageType: sdk
          version: 2.x
      - task: SonarCloudPrepare@1
        inputs:
          SonarCloud: sonarCloudBackend
          organization: bodnarkevin
  ...

pipelines/frontend-azure-pipelines.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    jobs:
    - job: Build
      steps:
      - task: SonarCloudPrepare@1
        inputs:
          SonarCloud: sonarCloudFrontend
          organization: bodnarkevin
          scannerMode: CLI
          configMode: manual
          cliProjectKey: caffly-frontend
  ...

pipelines/valgrind-azure-pipelines.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    jobs:
    - job: Build
      steps:
      - script: 'sudo apt-get install build-essential
  
          sudo apt-get install valgrind
  
          '
        displayName: Install dependencies
      - script: 'make
  
          '
  ...

Fix linq error
  CaffStore.Backend/CaffStore.Backend.Bll/Services/FileService.cs
Due: pipelines/backend-azure-pipelines.yml

Small fix
  CaffStore.Backend/CaffStore.Backend.Bll/Services/CaffItemService.cs
Due: pipelines/backend-azure-pipelines.yml

Provide access to generate sas tokens for blobs
  CaffStore.Backend/CaffStore.Backend.Api/appsettings.Production.json
  CaffStore.Backend/CaffStore.Backend.Bll/Options/BlobStorage/BlobStorageOptions.cs
  CaffStore.Backend/CaffStore.Backend.Bll/Services/FileService.cs
Due: pipelines/backend-azure-pipelines.yml

Fix sas token generation
  CaffStore.Backend/CaffStore.Backend.Api/appsettings.Production.json
  CaffStore.Backend/CaffStore.Backend.Bll/Options/BlobStorage/BlobStorageOptions.cs
  CaffStore.Backend/CaffStore.Backend.Bll/Services/FileService.cs
Due: pipelines/backend-azure-pipelines.yml

Name cleanup
  CaffStore.Backend/CaffStore.Backend.Bll/Services/FileService.cs
Due: pipelines/backend-azure-pipelines.yml

profile sb
  CaffStore.Frontend/src/app/profile/profile.component.css
  CaffStore.Frontend/src/app/profile/profile.component.html
  CaffStore.Frontend/src/app/profile/profile.component.ts
  CaffStore.Frontend/src/app/startpage/login/login.component.css
  CaffStore.Frontend/src/app/startpage/register/register.component.css
  CaffStore.Frontend/src/styles.css
Due: pipelines/frontend-azure-pipelines.yml

menu start
  CaffStore.Frontend/src/app/app-routing.module.ts
  CaffStore.Frontend/src/app/app.component.html
  CaffStore.Frontend/src/app/app.component.ts
  CaffStore.Frontend/src/app/frame/frame.component.css
  CaffStore.Frontend/src/app/frame/frame.component.html
  CaffStore.Frontend/src/app/frame/frame.component.ts
  CaffStore.Frontend/src/app/profile/profile.module.ts
Due: pipelines/frontend-azure-pipelines.yml

menu
  CaffStore.Frontend/src/app/frame/frame.component.css
  CaffStore.Frontend/src/app/frame/frame.component.html
  CaffStore.Frontend/src/app/frame/frame.component.ts
Due: pipelines/frontend-azure-pipelines.yml

users, auth guard start
  CaffStore.Frontend/src/app/app-routing.module.ts
  CaffStore.Frontend/src/app/app.component.ts
  CaffStore.Frontend/src/app/auth/auth-guard.spec.ts
  CaffStore.Frontend/src/app/auth/auth-guard.ts
  CaffStore.Frontend/src/app/caff-details/caff-details-routing.module.ts
  CaffStore.Frontend/src/app/caff-list/caff-list-routing.module.ts
  CaffStore.Frontend/src/app/error-page/error-page-routing.module.ts
  CaffStore.Frontend/src/app/error-page/error-page.component.css
  CaffStore.Frontend/src/app/error-page/error-page.component.html
  CaffStore.Frontend/src/app/error-page/error-page.component.spec.ts
  CaffStore.Frontend/src/app/error-page/error-page.component.ts
  CaffStore.Frontend/src/app/error-page/error-page.module.ts
  CaffStore.Frontend/src/app/profile/profile-routing.module.ts
  CaffStore.Frontend/src/app/profile/profile.component.css
  CaffStore.Frontend/src/app/profile/profile.component.ts
  CaffStore.Frontend/src/app/startpage/startpage.component.css
  CaffStore.Frontend/src/app/users/users-routing.module.ts
  CaffStore.Frontend/src/app/users/users.component.css
  CaffStore.Frontend/src/app/users/users.component.html
  CaffStore.Frontend/src/app/users/users.component.ts
  CaffStore.Frontend/src/styles.css
Due: pipelines/frontend-azure-pipelines.yml

authguard
  CaffStore.Frontend/src/app/auth/auth-guard.ts
  CaffStore.Frontend/src/app/startpage/startpage-routing.module.ts
Due: pipelines/frontend-azure-pipelines.yml

authguard
  CaffStore.Frontend/src/app/auth/auth-guard.ts
  CaffStore.Frontend/src/app/auth/auth.service.ts
  CaffStore.Frontend/src/app/startpage/register/register.component.ts
Due: pipelines/frontend-azure-pipelines.yml

registration
  CaffStore.Frontend/src/app/app.module.ts
  CaffStore.Frontend/src/app/startpage/register/register.component.ts
  CaffStore.Frontend/src/app/startpage/startpage.component.ts
Due: pipelines/frontend-azure-pipelines.yml

login
  CaffStore.Frontend/src/app/auth/auth-guard.ts
  CaffStore.Frontend/src/app/startpage/login/login.component.ts
Due: pipelines/frontend-azure-pipelines.yml

Implement comment feature
  CaffStore.Backend/CaffStore.Backend.Api/Controllers/CaffItemController.cs
  CaffStore.Backend/CaffStore.Backend.Api/Controllers/CommentController.cs
  CaffStore.Backend/CaffStore.Backend.Api/Migrations/20201121170944_Comment.Designer.cs
  CaffStore.Backend/CaffStore.Backend.Api/Migrations/20201121170944_Comment.cs
  CaffStore.Backend/CaffStore.Backend.Bll/AutoMapper/Profiles/CaffProfile.cs
  CaffStore.Backend/CaffStore.Backend.Bll/AutoMapper/Profiles/CommentProfile.cs
  CaffStore.Backend/CaffStore.Backend.Bll/Services/CaffItemService.cs
  CaffStore.Backend/CaffStore.Backend.Bll/Services/CommentService.cs
  CaffStore.Backend/CaffStore.Backend.Bll/Services/Extensions/ServiceCollectionExtensions.cs
  CaffStore.Backend/CaffStore.Backend.Bll/Services/FileService.cs
  CaffStore.Backend/CaffStore.Backend.Bll/Services/UserService.cs
  CaffStore.Backend/CaffStore.Backend.Data/CaffStoreDbContext.cs
  CaffStore.Backend/CaffStore.Backend.Data/Entities/CaffItem.cs
  CaffStore.Backend/CaffStore.Backend.Data/Entities/CaffItemComment.cs
  CaffStore.Backend/CaffStore.Backend.Data/Entities/Comment.cs
  CaffStore.Backend/CaffStore.Backend.Interface.Bll/Dtos/CaffItem/AddCaffItemDto.cs
  CaffStore.Backend/CaffStore.Backend.Interface.Bll/Dtos/CaffItem/CaffAnimationDataDto.cs
  CaffStore.Backend/CaffStore.Backend.Interface.Bll/Dtos/CaffItem/CaffDataDto.cs
  CaffStore.Backend/CaffStore.Backend.Interface.Bll/Dtos/CaffItem/CaffItemDetailsDto.cs
  CaffStore.Backend/CaffStore.Backend.Interface.Bll/Dtos/CaffItem/CaffItemDto.cs
  CaffStore.Backend/CaffStore.Backend.Interface.Bll/Dtos/CaffItem/CiffDataDto.cs
  CaffStore.Backend/CaffStore.Backend.Interface.Bll/Dtos/CaffItem/UpdateCaffItemDto.cs
  CaffStore.Backend/CaffStore.Backend.Interface.Bll/Dtos/Comment/AddCommentDto.cs
  CaffStore.Backend/CaffStore.Backend.Interface.Bll/Dtos/Comment/CommentDto.cs
  CaffStore.Backend/CaffStore.Backend.Interface.Bll/Dtos/Comment/UpdateCommentDto.cs
  CaffStore.Backend/CaffStore.Backend.Interface.Bll/Services/ICaffItemService.cs
  CaffStore.Backend/CaffStore.Backend.Interface.Bll/Services/ICommentService.cs
  CaffStore.Backend/CaffStore.Backend.Parser/CaffParseResult.cs
  CaffStore.Backend/CaffStore.Backend.Parser/CaffParser.cs
Due: pipelines/backend-azure-pipelines.yml

Remove plural comment endpoint name
  CaffStore.Backend/CaffStore.Backend.Api/Controllers/CaffItemController.cs
Due: pipelines/backend-azure-pipelines.yml

Add admin role and user seed
  CaffStore.Backend/CaffStore.Backend.Api/Identity/IdentityDataInitializer.cs
  CaffStore.Backend/CaffStore.Backend.Api/Identity/Roles.cs
  CaffStore.Backend/CaffStore.Backend.Api/Startup.cs
Due: pipelines/backend-azure-pipelines.yml

tmp
  CaffStore.Frontend/src/app/frame/frame.component.ts
  CaffStore.Frontend/src/app/profile/profile.component.html
  CaffStore.Frontend/src/app/profile/profile.component.ts
  CaffStore.Frontend/src/app/startpage/login/login.component.ts
Due: pipelines/frontend-azure-pipelines.yml

Code smell cleanup
  CaffStore.Backend/CaffStore.Backend.Data/CaffStoreDbContext.cs
Due: pipelines/backend-azure-pipelines.yml

Add AdminOnly policy
  CaffStore.Backend/CaffStore.Backend.Api/Identity/CaffStorePolicies.cs
  CaffStore.Backend/CaffStore.Backend.Api/Identity/CaffStoreRoles.cs
  CaffStore.Backend/CaffStore.Backend.Api/Identity/IdentityDataInitializer.cs
  CaffStore.Backend/CaffStore.Backend.Api/Identity/Roles.cs
  CaffStore.Backend/CaffStore.Backend.Api/Identity/ServiceCollectionExtensions.cs
  CaffStore.Backend/CaffStore.Backend.Api/Startup.cs
Due: pipelines/backend-azure-pipelines.yml

Code smell cleanup
  CaffStore.Backend/CaffStore.Backend.Api/Identity/ServiceCollectionExtensions.cs
  CaffStore.Backend/CaffStore.Backend.Api/Swagger/ServiceCollectionExtensions.cs
  CaffStore.Backend/CaffStore.Backend.Bll/Exceptions/CaffStoreNotFoundException.cs
  CaffStore.Backend/CaffStore.Backend.Bll/Services/FileService.cs
  CaffStore.Backend/CaffStore.Backend.Data/Entities/CaffFile.cs
  CaffStore.Backend/CaffStore.Backend.Data/Entities/CiffData.cs
  CaffStore.Backend/CaffStore.Backend.Interface.Bll/Dtos/CaffItem/CaffItemDetailsDto.cs
  CaffStore.Backend/CaffStore.Backend.Interface.Bll/Services/IFileService.cs
Due: pipelines/backend-azure-pipelines.yml

Add basic user endpoints for admins
  CaffStore.Backend/CaffStore.Backend.Api/Controllers/AdminUserController.cs
  CaffStore.Backend/CaffStore.Backend.Api/Controllers/CaffItemController.cs
  CaffStore.Backend/CaffStore.Backend.Api/Controllers/CommentController.cs
  CaffStore.Backend/CaffStore.Backend.Api/Controllers/UserController.cs
  CaffStore.Backend/CaffStore.Backend.Bll/Services/AdminUserService.cs
  CaffStore.Backend/CaffStore.Backend.Bll/Services/CaffItemService.cs
  CaffStore.Backend/CaffStore.Backend.Bll/Services/CommentService.cs
  CaffStore.Backend/CaffStore.Backend.Bll/Services/Extensions/ServiceCollectionExtensions.cs
  CaffStore.Backend/CaffStore.Backend.Bll/Services/FileService.cs
  CaffStore.Backend/CaffStore.Backend.Bll/Services/UserService.cs
  CaffStore.Backend/CaffStore.Backend.Interface.Bll/Services/IAdminUserService.cs
  CaffStore.Backend/CaffStore.Backend.Interface.Bll/Services/ICaffItemService.cs
  CaffStore.Backend/CaffStore.Backend.Interface.Bll/Services/ICommentService.cs
  CaffStore.Backend/CaffStore.Backend.Interface.Bll/Services/IUserService.cs
Due: pipelines/backend-azure-pipelines.yml

Uncomment snippet remaining from testing
  CaffStore.Backend/CaffStore.Backend.Bll/Services/FileService.cs
Due: pipelines/backend-azure-pipelines.yml

auth guard fix
  CaffStore.Frontend/src/app/app-routing.module.ts
  CaffStore.Frontend/src/app/app.component.ts
  CaffStore.Frontend/src/app/auth/auth-guard.ts
Due: pipelines/frontend-azure-pipelines.yml

logout
  CaffStore.Frontend/src/app/auth/auth-guard.ts
  CaffStore.Frontend/src/app/frame/frame.component.ts
  CaffStore.Frontend/src/app/startpage/login/login.component.ts
Due: pipelines/frontend-azure-pipelines.yml

profile data editing
  CaffStore.Frontend/src/app/api/generated/api.module.ts
  CaffStore.Frontend/src/app/api/generated/api/adminUser.service.ts
  CaffStore.Frontend/src/app/api/generated/api/api.ts
  CaffStore.Frontend/src/app/api/generated/api/caffItem.service.ts
  CaffStore.Frontend/src/app/api/generated/api/comment.service.ts
  CaffStore.Frontend/src/app/api/generated/model/addCommentDto.ts
  CaffStore.Frontend/src/app/api/generated/model/commentDto.ts
  CaffStore.Frontend/src/app/api/generated/model/models.ts
  CaffStore.Frontend/src/app/api/generated/model/updateCaffItemDto.ts
  CaffStore.Frontend/src/app/api/generated/model/updateCommentDto.ts
  CaffStore.Frontend/src/app/api/generated/model/userDtoPagedResponse.ts
  CaffStore.Frontend/src/app/profile/profile.component.css
  CaffStore.Frontend/src/app/profile/profile.component.html
  CaffStore.Frontend/src/app/profile/profile.component.ts
  CaffStore.Frontend/src/styles.css
Due: pipelines/frontend-azure-pipelines.yml

changepw
  CaffStore.Frontend/src/app/profile/profile.component.html
  CaffStore.Frontend/src/app/profile/profile.component.ts
Due: pipelines/frontend-azure-pipelines.yml

admin list users
  CaffStore.Frontend/src/app/profile/profile.component.ts
  CaffStore.Frontend/src/app/users/users.component.css
  CaffStore.Frontend/src/app/users/users.component.html
  CaffStore.Frontend/src/app/users/users.component.ts
Due: pipelines/frontend-azure-pipelines.yml

get user profile by id
  CaffStore.Frontend/src/app/profile/profile.component.ts
Due: pipelines/frontend-azure-pipelines.yml

pw validation
  CaffStore.Frontend/src/app/auth/auth-guard.ts
  CaffStore.Frontend/src/app/frame/frame.component.html
  CaffStore.Frontend/src/app/shared/utils.ts
  CaffStore.Frontend/src/app/shared/validators/samePasswordValidator.ts
  CaffStore.Frontend/src/app/startpage/login/login.component.ts
  CaffStore.Frontend/src/app/startpage/register/register.component.html
  CaffStore.Frontend/src/app/startpage/register/register.component.ts
  CaffStore.Frontend/src/styles.css
Due: pipelines/frontend-azure-pipelines.yml

error-page
  CaffStore.Frontend/src/app/error-page/error-page-routing.module.ts
  CaffStore.Frontend/src/app/error-page/error-page.component.html
Due: pipelines/frontend-azure-pipelines.yml

fixes before pr
  CaffStore.Frontend/src/app/app-routing.module.ts
  CaffStore.Frontend/src/app/app.component.ts
  CaffStore.Frontend/src/app/app.module.ts
  CaffStore.Frontend/src/app/auth/auth-guard.ts
  CaffStore.Frontend/src/app/error-page/error-page.component.html
  CaffStore.Frontend/src/app/error-page/error-page.component.ts
  CaffStore.Frontend/src/app/frame/frame.component.ts
  CaffStore.Frontend/src/app/profile/profile.component.html
  CaffStore.Frontend/src/app/profile/profile.component.ts
  CaffStore.Frontend/src/app/startpage/login/login.component.ts
  CaffStore.Frontend/src/app/startpage/register/register.component.html
  CaffStore.Frontend/src/app/users/users.component.html
  CaffStore.Frontend/src/app/users/users.component.ts
Due: pipelines/frontend-azure-pipelines.yml

[C++][make] Added .dll compilation
  CIFFCAFFParser/CAFFHandler.cpp
  CIFFCAFFParser/makefile
Due: pipelines/valgrind-azure-pipelines.yml

Disable test running for frontend temporarily
  pipelines/frontend-azure-pipelines.yml
Due: none

Fix missing role claim from userInfo endpoint
  CaffStore.Backend/CaffStore.Backend.Api/Identity/IdentityServerConfig.cs
Due: pipelines/backend-azure-pipelines.yml

Add missing role scope
  CaffStore.Backend/CaffStore.Backend.Api/Identity/IdentityServerConfig.cs
Due: pipelines/backend-azure-pipelines.yml

font famil
  CaffStore.Frontend/angular.json
  CaffStore.Frontend/src/app/shared/fonts.css
  CaffStore.Frontend/src/app/startpage/login/login.component.html
  CaffStore.Frontend/src/assets/fonts/Roboto/LICENSE.txt
  CaffStore.Frontend/src/assets/fonts/Roboto/Roboto-Black.ttf
  CaffStore.Frontend/src/assets/fonts/Roboto/Roboto-BlackItalic.ttf
  CaffStore.Frontend/src/assets/fonts/Roboto/Roboto-Bold.ttf
  CaffStore.Frontend/src/assets/fonts/Roboto/Roboto-BoldItalic.ttf
  CaffStore.Frontend/src/assets/fonts/Roboto/Roboto-Italic.ttf
  CaffStore.Frontend/src/assets/fonts/Roboto/Roboto-Light.ttf
  CaffStore.Frontend/src/assets/fonts/Roboto/Roboto-LightItalic.ttf
  CaffStore.Frontend/src/assets/fonts/Roboto/Roboto-Medium.ttf
  CaffStore.Frontend/src/assets/fonts/Roboto/Roboto-MediumItalic.ttf
  CaffStore.Frontend/src/assets/fonts/Roboto/Roboto-Regular.ttf
  CaffStore.Frontend/src/assets/fonts/Roboto/Roboto-Thin.ttf
  CaffStore.Frontend/src/assets/fonts/Roboto/Roboto-ThinItalic.ttf
  CaffStore.Frontend/src/assets/fonts/roboto-regular.ttf
Due: pipelines/frontend-azure-pipelines.yml

font family
  CaffStore.Frontend/src/assets/fonts/Roboto/LICENSE.txt
  CaffStore.Frontend/src/assets/fonts/Roboto/Roboto-Black.ttf
  CaffStore.Frontend/src/assets/fonts/Roboto/Roboto-BlackItalic.ttf
  CaffStore.Frontend/src/assets/fonts/Roboto/Roboto-Bold.ttf
  CaffStore.Frontend/src/assets/fonts/Roboto/Roboto-BoldItalic.ttf
  CaffStore.Frontend/src/assets/fonts/Roboto/Roboto-Italic.ttf
  CaffStore.Frontend/src/assets/fonts/Roboto/Roboto-Light.ttf
  CaffStore.Frontend/src/assets/fonts/Roboto/Roboto-LightItalic.ttf
  CaffStore.Frontend/src/assets/fonts/Roboto/Roboto-Medium.ttf
  CaffStore.Frontend/src/assets/fonts/Roboto/Roboto-MediumItalic.ttf
  CaffStore.Frontend/src/assets/fonts/Roboto/Roboto-Regular.ttf
  CaffStore.Frontend/src/assets/fonts/Roboto/Roboto-Thin.ttf
  CaffStore.Frontend/src/assets/fonts/Roboto/Roboto-ThinItalic.ttf
Due: pipelines/frontend-azure-pipelines.yml

font fix start
  CaffStore.Frontend/src/app/startpage/register/register.component.css
Due: pipelines/frontend-azure-pipelines.yml

sonar font error fix
  CaffStore.Frontend/src/app/frame/frame.component.css
  CaffStore.Frontend/src/app/profile/profile.component.css
  CaffStore.Frontend/src/app/startpage/login/login.component.css
  CaffStore.Frontend/src/app/startpage/register/register.component.css
  CaffStore.Frontend/src/app/startpage/startpage.component.css
  CaffStore.Frontend/src/app/users/users.component.css
  CaffStore.Frontend/src/styles.css
Due: pipelines/frontend-azure-pipelines.yml

Path conditions:
  pipelines/backend-azure-pipelines.yml: any of: CaffStore.Backend
  pipelines/frontend-azure-pipelines.yml: any of: CaffStore.Frontend
  pipelines/valgrind-azure-pipelines.yml: any of: CIFFCAFFParser
